* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  width: 100%;
  font-family: sans-serif;
  background: #005C97;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  width: 1124px;
  margin: 0 auto;
}

nav {
  display: flex;
  padding: 16px;
}

.brand a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

nav > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form > input {
  font-family: inherit;
}
